GEMINI_PLANT=

INFLUXDB_URL=
INFLUXDB_ORG=
INFLUXDB_USERNAME=
INFLUXDB_PASSWORD=
INFLUXDB_BUCKET=

GEMINI_FRONTEND_PORT=
GEMINI_MYSQLDB_URL=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

MONGODB_HOST=
MONGODB_PORT=
MONGODB_USERNAME=
MONGODB_PASSWORD=

GEMINI_ADMIN_EMAIL=
GEMINI_ADMIN_NAME=
GEMINI_ADMIN_PASSWORD=

LLM_MODEL_VERSION=
EMBED_MODEL_VERSION=
TRANSLATION_LLM_MODEL=
CHROMADB_HOST=
CHROMADB_PORT=
OLLAMA_HOST=
OLLAMA_PORT=
AZURE_OPENAI_HOST=
AZURE_OPENAI_KEY=
AZURE_OPENAI=
LANGCHAIN_API_KEY=


GF_SECURITY_ALLOW_EMBEDDING=
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_EMAIL=
GF_SECURITY_ADMIN_PASSWORD
GRAFANA_URL=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

DOCKER_INFLUXDB_INIT_MODE=
DOCKER_INFLUXDB_INIT_ORG=
DOCKER_INFLUXDB_INIT_BUCKET=
DOCKER_INFLUXDB_INIT_USERNAME=
DOCKER_INFLUXDB_INIT_PASSWORD=

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=