{% extends "base.html" %}

{% block title %}

<div class="col-lg-12">
    <h1 class="page-header">ESP Monitoring</h1>
</div>

{% endblock %}

{% block content %}
<div class="col-lg-12">
    <label style="color:white">ESP Name</label>
    <select class='form-control' style='width: 200px;' id='select_esp' value="">
    </select>
    <br>
</div>

<!-- Tab Navigation -->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#monitoring">Monitoring</a></li>
        <li><a href="#calibration">Calibration</a></li>
    </ul>
</div>

<!-- Monitoring Tab Content -->
<div id="monitoring" class="tab-content active">
    <div class="row">
        <div class="col-lg-4">
            <div class="card ">
                <div class="card-header">
                    <h2>ESP Parameters</h2>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td> Pump Type</td>
                                <td><input class='form-control' id='esp_type' value="" style="color:white" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td> No Stages</td>
                                <td><input class='form-control' id='esp_no_stage' value="" style="color:white" disabled></td>
                            </tr>
                            <tr>
                                <td> Correction Factors</td>
                                <td><input class='form-control' id='esp_correction_factor' value="" style="color:white"
                                        disabled></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12">
                    <label>Min Frequency (Hz):</label>
                    <input class='form-control' type="number" id="min_frequency" min="0" max="100" value="30"
                        style='width: 200px'>
                    <br>
                    <label>Max Frequency (Hz):</label>
                    <input class='form-control' type="number" id="max_frequency" min="0" max="100" value="60"
                        style='width: 200px'>
                    <br>
                </div>

            </div>
        </div>

        <div class="col-lg-8">
            <div class="card ">
                <div class="card-header">
                    <h2>ESP Pump Curve and Real-Time Data</h2>
                </div>
                <div class="card-body">
                    <div class="alert alert-info" role="alert" style="margin-bottom: 20px;">
                        <strong><i class="fa fa-info-circle"></i> Note:</strong><br>
                        The monitoring tab shows <strong>real-time data</strong>. If you observe a mismatch between the real-time frequency 
                        and the operational point on the pump curve with the theoretical frequency, the ESP might not be calibrated correctly. 
                        In this case, please go to the <strong>Calibration tab</strong> and calibrate the calculated pump head.
                    </div>
                    <label>Date Range:<i class="fa fa-calendar"></i></label>
                    
                    <input class='form-control' type="text" name="datetime" id="datetime" style='width: 400px'>
                    <br>
                    <input type="button" id="save" value="Plot" onclick="refresh_plot();" class="btn btn-default btn-sm"
                        style="width:100px">
                    <div id="plot_pump_curve" class="responsive-plot">
                    </div>
                    <div id="plot_flow_frequency" class="responsive-plot" style="width:100%; margin-top: 20px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Calibration Tab Content -->
<div id="calibration" class="tab-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card ">
                <div class="card-header">
                    <h2>Calibration Setup</h2>
                </div>
                <div class="card-body">
                    <div class="alert alert-info" role="alert" style="margin-bottom: 20px;">
                        <strong><i class="fa fa-info-circle"></i> Calibration Process:</strong><br>
                        The calibration matches the linear fitting to the calculated pump head. We try to match the 
                        <strong>calculated VLP head</strong> to the <strong>theoretical head</strong> that comes from the pump curve.
                    </div>
                    <label>Calibration Date:<i class="fa fa-calendar"></i></label>
                    <input class='form-control' type="text" name="datetimecalibration" id="datetimecalibration" style='width: 300px'>
                    <br>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td> Calibrated Correction Factors</td>
                                <td><input class='form-control' id='esp_correction_factor_calibrated' value=""
                                        style="color:white" disabled></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <button type="button" class="btn btn-default btn-sm" onclick="calibrate_esp_factor()"
                                        style="width: 150px;">Run Calibration</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <input type="button" id="update" value="Update" onclick="updateCorrectionFactors();"
                        class="btn btn-default btn-sm"></td> -->
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card ">
                <div class="card-header">
                    <h2>Comparison Plots</h2>
                </div>
                <div class="card-body">
                    <div id="plot_comparison" style="width:100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='page/app_esp/js/api.js') }}"></script>

<style>
    .tabs {
        margin-bottom: 20px;
        clear: both;
        width: 100%;
    }
    
    .tab-links {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        border-bottom: 2px solid #444;
        width: 100%;
    }
    
    .tab-links li {
        margin-right: 2px;
    }
    
    .tab-links li a {
        display: block;
        padding: 10px 20px;
        background: #27293D;
        color: #D2D2D5;
        text-decoration: none;
        border: 1px solid #444;
        border-bottom: none;
        border-radius: 4px 4px 0 0;
        transition: all 0.3s ease;
    }
    
    .tab-links li.active a,
    .tab-links li a:hover {
        background: #1e1f2e;
        color: #fff;
        border-color: #555;
    }
    
    .tab-content {
        display: none;
        clear: both;
        width: 100%;
        margin-top: 0;
    }
    
    .tab-content.active {
        display: block;
        width: 100%;
    }
    
    .tab-content .row {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
</style>

{% endblock %}