{% extends "base.html" %}

{% block title %}

<div class="col-lg-12">
    <h1 class="page-header">Report generator</h1>
</div>

{% endblock %}


{% block head %}
<style>
    .table-sm td,
    .table-sm th {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        vertical-align: middle;
    }

    .form-control {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    input[type="checkbox"] {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }

    #advancedSection {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="card p-4">
    <!-- Date Inputs Frame (single box with two inputs side-by-side) -->
    <div class="row mb-4">
        <div class="col-md-12">
            <h3 class="mb-3">PDF Report</h3>
            <div class="border rounded p-3">
                <h5 class="mb-3">Date Range <i class="fa fa-calendar"></i></h5>
                <div class="row">
                    <div class="col-md-6">
                        <input class='form-control' type="text" name="datetime" id="datetime" style='width: 400px'>
                    </div>
                </div>

                <!-- Report Author input -->
                <div class="mt-4">
                    <label for="author_name" class="form-label">Report Author:</label>
                    <input type="text" class="form-control" id="author_name" name="author_name"
                           placeholder="Enter your name">
                </div>
                <br>
                <div class="col-md-12">
                    <input type="button" id="toggleButton" value="Advanced Options" class="btn btn-info">
                </div>
            </div>
        </div>
    </div>

    <div id="advancedSection">
        <!-- Row 1: Injection Well Report -->
        <div class="row mb-4">
            <div class="col-12">
                <div class="border rounded p-3">
                    <h4 class="mb-3">Injection Well Report</h4>
                    <label class="d-block mb-3">
                        <input type="checkbox" name="injection_report" id="injection_report" checked> Create Injection
                        well plots
                    </label>
                    <h5 class="mb-3">Cross plots</h5>
                    <label class="d-block mb-2">
                        <input type="checkbox" name="pressure-injection-dates_V_flowrate_plot" id="P-Q-date_checkbox"
                               checked> Pressure-Flowrate-Date
                    </label>
                    <label class="d-block mb-3">
                        <input type="checkbox" name="pressure-injection-temperature_V_flowrate_plot" id="P-Q-T_checkbox"
                               checked> Pressure-Flowrate-Temperature
                    </label>
                    <h5 class="mb-3">Skin Plot Parameters</h5>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">Min</th>
                            <th class="text-center">Max</th>
                            <th class="text-center">Intervals</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Flow rate [m³/h]</td>
                            <td><input class="form-control" id="min_flow_plot" value="0"></td>
                            <td><input class="form-control" id="max_flow_plot" value="400"></td>
                            <td><input class="form-control" id="no_interval_flow_plot" value="25"></td>
                        </tr>
                        <tr>
                            <td>Skin Factor [-]</td>
                            <td><input class="form-control" id="min_skin_plot" value="0"></td>
                            <td><input class="form-control" id="max_skin_plot" value="200"></td>
                            <td><input class="form-control" id="no_interval_skin_plot" value="5"></td>
                        </tr>
                        </tbody>
                    </table>
                    <textarea id="InjReportComments"
                              placeholder="Type your comments about the Injection Well(s) Report here..."
                              style="width: 100%; padding: 8px; box-sizing: border-box; resize: none; overflow: hidden;"
                              rows="1"
                              oninput="this.style.height='auto'; this.style.height=this.scrollHeight + 'px';"></textarea>
                </div>
            </div>
        </div>
        <!-- Row 2: Production Well Report -->
        <div class="row mb-4">
            <div class="col-12">
                <div class="border rounded p-3">
                    <h4 class="mb-3">Production Well Report</h4>
                    <label class="d-block">
                        <input type="checkbox" name="production_report" id="production_report" checked> Create
                        production well plots
                    </label>
                    <textarea id="ProdReportComments"
                              placeholder="Type your comments about the Production Well(s) Report here..."
                              style="width: 100%; padding: 8px; box-sizing: border-box; resize: none; overflow: hidden;"
                              rows="1"
                              oninput="this.style.height='auto'; this.style.height=this.scrollHeight + 'px';"></textarea>
                </div>
            </div>
        </div>
        <!-- Row 3: ESP Plots -->
        <div class="row mb-4">
            <div class="col-12">
                <div class="border rounded p-3">
                    <h4 class="mb-3">ESP Plots</h4>
                    <h5 class="mb-3">Cross plots</h5>
                    <label class="d-block mb-2">
                        <input type="checkbox" name="ESP_flow-power-date_V_flowrate_plot" id="ESP_Q-Pow-date_checkbox"
                               checked> Flow-Power-Date of ESPs
                    </label>
                    <label class="d-block mb-3">
                        <input type="checkbox" name="ESP_frequency-Amperage-date_V_flowrate_plot"
                               id="ESP_freq-I-date_checkbox" checked> Frequency-Amperage-Date for ESPs
                    </label>
                    <h5 class="mb-3">Time series plots</h5>
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th>Value Name</th>
                            <th>Select</th>
                            <th>Min Value</th>
                            <th>Max Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Flow</td>
                            <td><input type="checkbox" name="value_select_1" checked></td>
                            <td><input type="text" class="form-control" name="min_value_1"></td>
                            <td><input type="text" class="form-control" name="max_value_1"></td>
                        </tr>
                        <tr>
                            <td>Amperage</td>
                            <td><input type="checkbox" name="value_select_3" checked></td>
                            <td><input type="text" class="form-control" name="min_value_3"></td>
                            <td><input type="text" class="form-control" name="max_value_3"></td>
                        </tr>
                        <tr>
                            <td>Frequency</td>
                            <td><input type="checkbox" name="value_select_4" checked></td>
                            <td><input type="text" class="form-control" name="min_value_4"></td>
                            <td><input type="text" class="form-control" name="max_value_4"></td>
                        </tr>
                        <tr>
                            <td>Voltage</td>
                            <td><input type="checkbox" name="value_select_5" checked></td>
                            <td><input type="text" class="form-control" name="min_value_5"></td>
                            <td><input type="text" class="form-control" name="max_value_5"></td>
                        </tr>
                        <tr>
                            <td>Motor temperature</td>
                            <td><input type="checkbox" name="value_select_7" checked></td>
                            <td><input type="text" class="form-control" name="min_value_7"></td>
                            <td><input type="text" class="form-control" name="max_value_7"></td>
                        </tr>
                        <tr>
                            <td>Vibration X</td>
                            <td><input type="checkbox" name="value_select_8" checked></td>
                            <td><input type="text" class="form-control" name="min_value_8"></td>
                            <td><input type="text" class="form-control" name="max_value_8"></td>
                        </tr>
                        <tr>
                            <td>Vibration Y</td>
                            <td><input type="checkbox" name="value_select_9" checked></td>
                            <td><input type="text" class="form-control" name="min_value_9"></td>
                            <td><input type="text" class="form-control" name="max_value_9"></td>
                        </tr>
                        <tr>
                            <td>Intake pressure</td>
                            <td><input type="checkbox" name="value_select_10" checked></td>
                            <td><input type="text" class="form-control" name="min_value_10"></td>
                            <td><input type="text" class="form-control" name="max_value_10"></td>
                        </tr>
                        <tr>
                            <td>Discharge pressure</td>
                            <td><input type="checkbox" name="value_select_11" checked></td>
                            <td><input type="text" class="form-control" name="min_value_11"></td>
                            <td><input type="text" class="form-control" name="max_value_11"></td>
                        </tr>
                        </tbody>
                    </table>
                    <textarea id="ESPReportComments"
                              placeholder="Type your comments about the ESP(s) Report here..."
                              style="width: 100%; padding: 8px; box-sizing: border-box; resize: none; overflow: hidden;"
                              rows="1"
                              oninput="this.style.height='auto'; this.style.height=this.scrollHeight + 'px';"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- Generate Report Button (full width) -->
    <div class="row">
        <div class="col-md-12">
            <input type="button" id="generate_report" value="Generate Report" onclick="generate_report();"
                   class="btn btn-info w-100">
        </div>
    </div>
</div>

<!-- NLOG Report -->
<div class="card p-4">
    <div class="row mb-4">
        <div class="col-md-12">
            <h3 class="mb-3">NLOG Report</h3>
            <div class="border rounded p-3">
                <!-- Period input -->
                <div class="mt-4">
                    <label for="nlog_period" class="form-label">Period (Month & Year):</label>
                    <input type="text"
                           class="form-control"
                           id="nlog_period"
                           name="nlog_period"
                           placeholder="YYYY-MM"
                           style="width: 400px">
                </div>

                <!-- License holder input -->
                <div class="mt-4">
                    <label for="nlog_license_holder" class="form-label">License Holder:</label>
                    <input type="text" class="form-control" id="nlog_license_holder" name="license_holder"
                           placeholder="Enter license holder name" style="width: 400px">
                </div>
            </div>
            <br>
            <!-- Generate Report Button (full width) -->
            <div class="row">
                <div class="col-md-12">
                    <input type="button" id="generate_nlog_report" value="Generate NLOG Report"
                           onclick="generate_nlog_report();"
                           class="btn btn-info w-100">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $('input[name="datetime"]').daterangepicker({
        timePicker: true,
        singleDatePicker: false,
        showDropdowns: true,
        timePicker24Hour: true,
        timePickerSeconds: false,
        startDate: moment().startOf('day').subtract(7, 'days'),
        endDate: moment().startOf('hour'),
        locale: {
            format: 'YYYY-MM-DD HH:mm:SS'
        }
    });

    $('input[name="nlog_period"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        autoApply: true,

        startDate: moment().subtract(1, 'month').startOf('month'),


        locale: {
            format: 'YYYY-MM'
        }
    }, function (start) {
        // Always snap to first day of selected month
        const m = start.clone().startOf('month');
        $('input[name="nlog_period"]').val(m.format('YYYY-MM'));
    });


</script>

<!--Report generator api JS code-->
<script src="{{ url_for('static', filename='page/app_reportgenerator/js/api.js') }}"></script>

<script src="{{ url_for('static', filename='vendor/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/dataTables/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/dataTables/jquery.dataTables.min.js') }}"></script>

<!--Bootstrap template-->
<link href="{{ url_for('static', filename='vendor/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/dataTables/dataTables.responsive.css') }}" rel="stylesheet">

{% endblock %}