{% extends "base.html" %}

{% block title %}

<div class="col-lg-12">
    <h1 class="page-header">Injection Well Monitoring</h1>
</div>

{% endblock %}

{% block content %}
<div class="col-lg-12">
    <label style="color:white">Injection Well Name</label>
    <select class='form-control' style='width: 200px;' id='select_well' value="">
    </select>
    <br>
</div>

<div class="col-lg-4">
    <div class="card ">
        <div class="card-header">
            <h2>Reservoir Parameters</h2>
        </div>
        <div class="card-body">
            <label_tab>Start Date:<i class="fa fa-calendar"></i></label_tab>
            <input class='form-control' type="text" name="datetimesstart" id="starttime" style='width: 200px'>
            <br>
            <label_tab>End Date:<i class="fa fa-calendar"></i></label_tab>
            <input class='form-control' type="text" name="datetimesend" id="endtime" style='width: 200px'>
            <br>
            <br>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td> Reservoir Pressure [bar]</td>
                        <td><input class='form-control' id='reservoir_pressure' value=""
                                style="color:white">
                        </td>
                    </tr>
                    <tr>
                        <td> Reservoir Permeability [mD]</td>
                        <td><input class='form-control' id='reservoir_permeability' value=""
                                style="color:white">
                        </td>
                    </tr>
                    <tr>
                        <td> Reservoir Thickness [m]</td>
                        <td><input class='form-control' id='reservoir_thickness' value=""
                                style="color:white">
                        </td>
                    </tr>
                    <tr>
                        <td> Radius of Influence [m]</td>
                        <td><input class='form-control' id='reservoir_radius' value="1100"
                                style="color:white">
                        </td>
                    </tr>
                    <tr>
                        <td> Top Reservoir [m]</td>
                        <td><input class='form-control' id='reservoir_top' value="1774"
                                style="color:white">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h2>Well Parameters</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td> Radius of Wellbore [m]</td>
                        <td><input class='form-control' id='wellbore_radius' value="0.0765"
                                style="color:white">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card ">
        <div class="card-header">
            <h2>PVT Parameters</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td> Liquid Density [kg/m3]</td>
                        <td><input class='form-control' id='liquid_density' value=""
                                style="color:white" >
                        </td>
                    </tr>
                    <tr>
                        <td> Liquid Viscosity [Pa.s]</td>
                        <td><input class='form-control' id='liquid_viscosity' value=""
                                style="color:white" >
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h2>Other Parameters for Skin Plot</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td> Min Flow Rate [m3/h]</td>
                        <td><input class='form-control' id='min_flow_plot' value="0"
                                style="color:white">
                        </td>
                        <td> Max Flow Rate [m3/h]</td>
                        <td><input class='form-control' id='max_flow_plot' value="250"
                                style="color:white">
                        </td>
                        <td> No. Intervals in Flow Rate</td>
                        <td><input class='form-control' id='no_interval_flow_plot' value="25"
                                style="color:white">
                        </td>
                    </tr>
                        <td> Min Skin Factor</td>
                        <td><input class='form-control' id='min_skin_plot' value="0"
                                style="color:white">
                        </td>
                        <td> Max Skin Factor</td>
                        <td><input class='form-control' id='max_skin_plot' value="220"
                                style="color:white">
                        </td>
                        <td> No. Intervals in Skin Factor</td>
                        <td><input class='form-control' id='no_interval_skin_plot' value="6"
                                style="color:white">
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                    <td> Max Operating Pressure [bar]</td>
                    <td><input class='form-control' id='max_pressure' value="57"
                            style="color:white">
                    </td>
                </tr>
                </tr>
                    <td> Max Operating Flow Rate [m3/h]</td>
                    <td><input class='form-control' id='max_flow_rate' value="165"
                            style="color:white">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="col-lg-8">
    <input type="button" id="save" value="Calculate" onclick="calculate();"
                    class="btn btn-default btn-sm">
    <div class="card ">
        <div class="card-header">
            <h2>Hall Plot and Derivative</h2>
        </div>
        <div class="card-body">
            <div class="col-lg-12" align='center'>
                <div id="plotHall" class="responsive-plot">
                </div>
            </div>
        </div>

        
        <div class="card-header">
            <h2>Hall Plot and Derivative, log-log</h2>
        </div>
        <div class="card-body">
            <div class="col-lg-12" align='center'>
                <div id="plotHall_loglog" class="responsive-plot">
                </div>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h2>Q-P Plot Including Skin Lines</h2>
        </div>
        <div class="card-body">
            <div class="col-lg-12" align='center'>  
                <div id="plotSkin" class="responsive-plot">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='page/app_injectivitymonitoring/js/api.js') }}"></script>

<script>
    $('input[name="datetimesstart"]').daterangepicker({
        timePicker: true,
        singleDatePicker: true,
        showDropdowns: true,
        timePicker24Hour: true,
        timePickerSeconds: true,
        startDate: moment().startOf('day').subtract(7, 'days'),
        locale: {
            format: 'YYYY-MM-DD HH:mm:ss'
        }
    });
    $('input[name="datetimesend"]').daterangepicker({
        timePicker: true,
        singleDatePicker: true,
        showDropdowns: true,
        timePicker24Hour: true,
        timePickerSeconds: true,
        startDate: moment().startOf('day'),
        locale: {
            format: 'YYYY-MM-DD HH:mm:ss'
        }
    });
</script>


{% endblock %}