{% extends "base.html" %}

{% block title %}

<div class="col-lg-12">
    <h1 class="page-header">Diagram Builder App</h1>
</div>

{% endblock %}

{% block content %}
<div class="col-lg-12">
    <input type="button" id="save" value="Save" onclick="save_diagram();" class="btn btn-info btn-sm"
        style="width:100px">
    <input type="button" id="load" value="Reset" onclick="load_diagram();" class="btn btn-warning btn-sm"
        style="width:100px">
    <input type="button" id="log" value="Log" onclick="log_status();" class="btn btn-default btn-sm"
        style="width:100px;float:right">
    <input type="button" id="template" value="Template" onclick="load_template();" class="btn btn-default btn-sm"
        style="width:100px;float:right">
</div>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="mybuilder" class="jumbotron"></div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <input type="button" id="esp" value="ESP" onclick="addESP();" class="btn btn-default btn-sm"
        style="width:150px; height:100px">
    <input type="button" id="injection_pump" value="Injection Pump" onclick="addInjectionPump();"
        class="btn btn-default btn-sm" style="width:150px; height:100px">
    <input type="button" id="booster_pump" value="Booster Pump" onclick="addBoosterPump();"
        class="btn btn-default btn-sm" style="width:150px; height:100px">
    <input type="button" id="production_well" value="Production Well" onclick="addProductionWell();"
        class="btn btn-default btn-sm" style="width:150px; height:100px">
    <input type="button" id="injection_well" value="Injection Well" onclick="addInjectionWell();"
        class="btn btn-default btn-sm" style="width:150px; height:100px">
    <input type="button" id="reservoir" value="Reservoir" onclick="addReservoir();" class="btn btn-default btn-sm"
        style="width:150px; height:100px">
    <input type="button" id="filter" value="Filter" onclick="addFilter();" class="btn btn-default btn-sm"
        style="width:150px; height:100px">
    <input type="button" id="heat_exchanger" value="Heat Exchanger" onclick="addHeatExchanger();"
        class="btn btn-default btn-sm" style="width:150px; height:100px">
    <input type="button" id="degasser" value="Degasser" onclick="addDegasser();" class="btn btn-default btn-sm"
        style="width:150px; height:100px">
    <input type="button" id="gas_boiler" value="Gas Boiler" onclick="addGasBoiler();" class="btn btn-default btn-sm"
        style="width:150px; height:100px">
    <input type="button" id="electric_boiler" value="Electric Boiler" onclick="addElectricBoiler();"
        class="btn btn-default btn-sm" style="width:150px; height:100px">
    <input type="button" id="heatpump" value="Heat Pump" onclick="addHeatpump();" class="btn btn-default btn-sm"
        style="width:150px; height:100px">
    <input type="button" id="heatdemand" value="Heat Demand" onclick="addHeatDemand();" class="btn btn-default btn-sm"
        style="width:150px; height:100px">
    <input type="button" id="chp" value="CHP" onclick="addCHP();" class="btn btn-default btn-sm"
        style="width:150px; height:100px">
    <input type="button" id="node" value="Mixing Node" onclick="addNode();" class="btn btn-default btn-sm"
        style="width:150px; height:100px">


</div>

<div class="container">
    <div class="row my-3">
        <div class="col">
            <div class="dropdown-menu dropdown-menu-sm" id="context-menu">

                <a class="dropdown-item" onclick="show_parameter_modal()">Open Parameter</a>
                <a class="dropdown-item" onclick="delete_element()">Delete</a>
            </div>
        </div>
    </div>
</div>


<div class="modal right fade" id="componentModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times</button>
                <h3 id="myModalLabel1" style="color: black">Component Parameters</h3>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#properties" data-toggle="tab">Properties</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#tagnames" data-toggle="tab">Tagnames</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="properties">
                        <table class="table" id="table-component-properties">
                            <tr>
                                <td><span style="color: black">Type</span></td>
                                <td><input style="width:300px" id="component_type" value="" readonly></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">ID</span></td>
                                <td><input style="width:300px" id="component_id" value="" readonly></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Name</span></td>
                                <td><input style="width:300px" id="component_name" value=""></td>
                            </tr>
                        </table>
                        <label>Properties:</label><br>
                        <label>Timestamps</label>
                        <select style='width: 200px;height: 40px;' id='select_parameters_timestamps' value="">
                        </select>
                        <input type="button" value="Add" class="btn btn-default" data-toggle="modal"
                            data-target="#myParametersTimestampsModal" />
                        <input type="button" value="Delete" class="btn btn-default" onclick="delete_parameters_timestamps();" />    
                        <br><br>
                        <table class="table" id="table-component-properties-reservoir">
                            <tr>
                                <td><span style="color: black">Reservoir Pressure [bar]</span></td>
                                <td><input style="width:300px" id="reservoir_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Reservoir Temperature [C]</span></td>
                                <td><input style="width:300px" id="reservoir_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Reservoir Thickness [m]</span></td>
                                <td><input style="width:300px" id="reservoir_thickness" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Reservoir Permeability [mD]</span></td>
                                <td><input style="width:300px" id="reservoir_permeability" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Liquid Density [kg/m3]</span></td>
                                <td><input style="width:300px" id="liquid_density" value="1068.569"></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Liquid Viscosity [Pa.s]</span></td>
                                <td><input style="width:300px" id="liquid_viscosity" value="0.67596"></td>
                            </tr>

                        </table>
                        <table class="table" id="table-component-properties-productionwell">
                            <tr>
                                <td><span style="color: black">Soil temperature [C]</span></td>
                                <td><input style="width:300px" id="productionwell_soil_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Productivity Index [m3/h/Bar]</span></td>
                                <td><input style="width:300px" id="productionwell_productivity_index" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Friction Correlation</span></td>
                                <td>
                                    <select style="width:300px" id="productionwell_friction_correlation">
                                        <option value="">Select correlation</option>
                                        <option value="darcy_weisbach ">darcy_weisbach</option>
                                        <option value="techo">techo</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Well trajectory</span></td>
                                <td><input id="production_well_trajectory_csv" type="file" accept=".csv"
                                        style="color: black" /><button id="button_upload_production_well_trajectory"
                                        type="button" class="btn btn-default"
                                        onclick="upload_production_well_trajectory();">Update
                                    </button></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Well tally</span></td>
                                <td><input id="production_well_tally_csv" type="file" accept=".csv"
                                        style="color: black" /><button id="button_upload_production_well_tally"
                                        type="button" class="btn btn-default"
                                        onclick="upload_production_well_tally();">Update
                                    </button></td>
                            </tr>
                        </table>
                        <div id="div-data-table-productionwelltrajectory">
                            <table class="table table-striped table-bordered" id="data-table-productionwelltrajectory">
                                <thead>
                                    <tr>
                                        <th style="color: black">True Vertical Depth [m]</th>
                                        <th style="color: black">Measured Depth [m]</th>
                                        <th style="color: black">Inner Diameter [m]</th>
                                        <th style="color: black">Material [ST/PE/HDPE/PVC]</th>
                                        <th style="color: black">Roughness [m]</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="div-data-table-productionwelltally">
                            <table class="table table-striped table-bordered" id="data-table-productionwelltally">
                                <thead>
                                    <tr>
                                        <th style="color: black">Joint</th>
                                        <th style="color: black">Top MD [m]</th>
                                        <th style="color: black">Bottom MD [m]</th>
                                        <th style="color: black">Top TVD [m]</th>
                                        <th style="color: black">Bottom TVD [m]</th>
                                        <th style="color: black">ID [inch]</th>
                                        <th style="color: black">OD [inch]</th>
                                        <th style="color: black">Roughness [m]</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <table class="table" id="table-component-properties-injectionwell">
                            <tr>
                                <td><span style="color: black">Soil temperature [C]</span></td>
                                <td><input style="width:300px" id="injectionwell_soil_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Injectivity Index [m3/h/Bar]</span></td>
                                <td><input style="width:300px" id="injectionwell_injectivity_index" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Friction Correlation</span></td>
                                <td>
                                    <select style="width:300px" id="injectionwell_friction_correlation">
                                        <option value="">Select correlation</option>
                                        <option value="darcy_weisbach">darcy_weisbach</option>
                                        <option value="techo">techo</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Well trajectory</span></td>
                                <td><input id="injection_well_trajectory_csv" type="file" accept=".csv"
                                        style="color: black" /><button id="button_upload_injection_well_trajectory"
                                        type="button" class="btn btn-default"
                                        onclick="upload_injection_well_trajectory();">Update
                                    </button></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Well tally</span></td>
                                <td><input id="injection_well_tally_csv" type="file" accept=".csv"
                                        style="color: black" /><button id="button_upload_injection_well_tally"
                                        type="button" class="btn btn-default"
                                        onclick="upload_injection_well_tally();">Update
                                    </button></td>
                            </tr>
                        </table>
                        <div id="div-data-table-injectionwelltrajectory">
                            <table class="table table-striped table-bordered" id="data-table-injectionwelltrajectory">
                                <thead>
                                    <tr>
                                        <th style="color: black">True Vertical Depth [m]</th>
                                        <th style="color: black">Measured Depth [m]</th>
                                        <th style="color: black">Inner Diameter [m]</th>
                                        <th style="color: black">Material [ST/PE/HDPE/PVC]</th>
                                        <th style="color: black">Roughness [m]</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="div-data-table-injectionwelltally">
                            <table class="table table-striped table-bordered" id="data-table-injectionwelltally">
                                <thead>
                                    <tr>
                                        <th style="color: black">Joint</th>
                                        <th style="color: black">Top MD [m]</th>
                                        <th style="color: black">Bottom MD [m]</th>
                                        <th style="color: black">Top TVD [m]</th>
                                        <th style="color: black">Bottom TVD [m]</th>
                                        <th style="color: black">ID [inch]</th>
                                        <th style="color: black">OD [inch]</th>
                                        <th style="color: black">Roughness [m]</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <table class="table" id="table-component-properties-injectionpump">
                            <tr>
                                <td><span style="color: black">Pump type</span></td>
                                <td><select style="width:300px; height:30px" id="injectionpump_type" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">No. stages</span></td>
                                <td><input style="width:300px; height:30px" id="injectionpump_no_stage" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-component-properties-boosterpump">
                            <tr>
                                <td><span style="color: black">Pump type</span></td>
                                <td><select style="width:300px; height:30px" id="boosterpump_type" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">No. stages</span></td>
                                <td><input style="width:300px; height:30px" id="boosterpump_no_stage" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-component-properties-esp">
                            <tr>
                                <td><span style="color: black">Pump type</span></td>
                                <td><select style="width:300px; height:30px" id="esp_type" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">No. stages</span></td>
                                <td><input style="width:300px; height:30px" id="esp_no_stage" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Location depth [m]</span></td>
                                <td><input style="width:300px; height:30px" id="esp_depth" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Tubing size [m]</span></td>
                                <td><input style="width:300px; height:30px" id="esp_tubing" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">ESP minimum flow [m3/h]</span></td>
                                <td><input style="width:300px; height:30px" id="esp_min_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">ESP bep flow [m3/h]</span></td>
                                <td><input style="width:300px; height:30px" id="esp_bep_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">ESP maximum flow [m3/h]</span></td>
                                <td><input style="width:300px; height:30px" id="esp_max_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">head coefficient</span></td>
                                <td><input style="width:300px; height:30px" id="esp_head_coeff" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">power coefficient</span></td>
                                <td><input style="width:300px; height:30px" id="esp_power_coeff" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-component-properties-filter">
                        </table>
                        <table class="table" id="table-component-properties-degasser">
                        </table>
                        <table class="table" id="table-component-properties-heatdemand">
                        </table>
                        <table class="table" id="table-component-properties-gasboiler">
                            <tr>
                                <td><span style="color: black">Efficiency [%]</span></td>
                                <td><input style="width:200px; height:30px" id="gasboiler_efficiency" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-component-properties-eboiler">
                            <tr>
                                <td><span style="color: black">Efficiency [%]</span></td>
                                <td><input style="width:200px; height:30px" id="eboiler_efficiency" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-component-properties-chp">
                            <tr>
                                <td><span style="color: black">System Efficiency [%]</span></td>
                                <td><input style="width:200px; height:30px" id="chp_system_efficiency" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-component-properties-heatexchanger">
                            <tr>
                                <td><span style="color: black">Heat Transfer Coefficient [W/m2K]</span></td>
                                <td><input style="width:200px; height:30px" id="heat_transfer_coeff" value="">
                                </td>
                            </tr>
                        </table>
                        <table class="table" id="table-component-properties-heatpump">
                            <tr>
                                <td><span style="color: black">Efficiency [%]</span></td>
                                <td><input style="width:200px; height:30px" id="heatpump_efficiency" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Calc. model</span></td>
                                <td><select style="width:200px; height:30px" id="heatpump_model" value="">
                                        <option value="carnot">Carnot</option>
                                        <option value="lorentz">Lorentz</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tagnames">
                        <label>Timestamps</label>
                        <select style='width: 200px;height: 40px;' id='select_tagnames_timestamps' value="">
                        </select>
                        <input type="button" value="Add" class="btn btn-default" data-toggle="modal"
                            data-target="#myTagnamesTimestampsModal" />
                        <input type="button" value="Delete" class="btn btn-default" onclick="delete_tagnames_timestamps();" />    
                        <br><br>
                        <label>Measured:</label>
                        <table class="table" id="table-tagnames-measured-injectionwell">
                            <tr>
                                <td><span style="color: black">Wellhead pressure [bar]</span></td>
                                <td><input style="width:300px" id="injectionwell_wellhead_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Wellhead temperature [C]</span></td>
                                <td><input style="width:300px" id="injectionwell_wellhead_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="injectionwell_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Bottomhole pressure [bar]</span></td>
                                <td><input style="width:300px" id="injectionwell_bottomhole_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Bottomhole temperature [C]</span></td>
                                <td><input style="width:300px" id="injectionwell_bottomhole_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Annulus pressure A [bar]</span></td>
                                <td><input style="width:300px" id="injectionwell_annulus_a_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Annulus pressure B [bar]</span></td>
                                <td><input style="width:300px" id="injectionwell_annulus_b_pressure" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-tagnames-measured-productionwell">
                            <tr>
                                <td><span style="color: black">Wellhead pressure [bar]</span></td>
                                <td><input style="width:300px" id="productionwell_wellhead_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Wellhead temperature [C]</span></td>
                                <td><input style="width:300px" id="productionwell_wellhead_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="productionwell_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Bottomhole pressure [bar]</span></td>
                                <td><input style="width:300px" id="productionwell_bottomhole_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Bottomhole temperature [C]</span></td>
                                <td><input style="width:300px" id="productionwell_bottomhole_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Annulus pressure A [bar]</span></td>
                                <td><input style="width:300px" id="productionwell_annulus_a_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Annulus pressure B [bar]</span></td>
                                <td><input style="width:300px" id="productionwell_annulus_b_pressure" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-tagnames-measured-injectionpump">
                            <tr>
                                <td><span style="color: black">Inlet pressure [bar]</span></td>
                                <td><input style="width:300px" id="injectionpump_inlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Inlet temperature [C]</span></td>
                                <td><input style="width:300px" id="injectionpump_inlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="injectionpump_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Outlet pressure [bar]</span></td>
                                <td><input style="width:300px" id="injectionpump_outlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Outlet temperature [T]</span></td>
                                <td><input style="width:300px" id="injectionpump_outlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Motor temperature [C]</span></td>
                                <td><input style="width:300px" id="injectionpump_motor_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Frequency [Hz]</span></td>
                                <td><input style="width:300px" id="injectionpump_frequency" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Voltage [V]</span></td>
                                <td><input style="width:300px" id="injectionpump_voltage" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Current [A]</span></td>
                                <td><input style="width:300px" id="injectionpump_current" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Pump Head [Bar]</span></td>
                                <td><input style="width:300px" id="injectionpump_head" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Power Consumption [Watt]</span></td>
                                <td><input style="width:300px" id="injectionpump_power_consumption" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-tagnames-measured-boosterpump">
                            <tr>
                                <td><span style="color: black">Inlet pressure [bar]</span></td>
                                <td><input style="width:300px" id="boosterpump_inlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Inlet temperature [C]</span></td>
                                <td><input style="width:300px" id="boosterpump_inlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="boosterpump_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Outlet pressure [bar]</span></td>
                                <td><input style="width:300px" id="boosterpump_outlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Outlet temperature [T]</span></td>
                                <td><input style="width:300px" id="boosterpump_outlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Motor temperature [C]</span></td>
                                <td><input style="width:300px" id="boosterpump_motor_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Frequency [Hz]</span></td>
                                <td><input style="width:300px" id="boosterpump_frequency" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Voltage [V]</span></td>
                                <td><input style="width:300px" id="boosterpump_voltage" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Current [A]</span></td>
                                <td><input style="width:300px" id="boosterpump_current" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Pump Head [Bar]</span></td>
                                <td><input style="width:300px" id="boosterpump_head" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Power Consumption [Watt]</span></td>
                                <td><input style="width:300px" id="boosterpump_power_consumption" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-tagnames-measured-esp">
                            <tr>
                                <td><span style="color: black">Inlet pressure [bar]</span></td>
                                <td><input style="width:300px" id="esp_inlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Inlet temperature [C]</span></td>
                                <td><input style="width:300px" id="esp_inlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="esp_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Outlet pressure [bar]</span></td>
                                <td><input style="width:300px" id="esp_outlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Outlet temperature [T]</span></td>
                                <td><input style="width:300px" id="esp_outlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Motor temperature [C]</span></td>
                                <td><input style="width:300px" id="esp_motor_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Frequency [Hz]</span></td>
                                <td><input style="width:300px" id="esp_frequency" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Voltage [V]</span></td>
                                <td><input style="width:300px" id="esp_voltage" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Current [A]</span></td>
                                <td><input style="width:300px" id="esp_current" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Pump Head [Bar]</span></td>
                                <td><input style="width:300px" id="esp_head" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Power Consumption [Watt]</span></td>
                                <td><input style="width:300px" id="esp_power_consumption" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Vibration X direction [mm/s]</span></td>
                                <td><input style="width:300px" id="esp_vibration_x" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Vibration Y direction [mm/s]</span></td>
                                <td><input style="width:300px" id="esp_vibration_y" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-tagnames-measured-filter">
                            <tr>
                                <td><span style="color: black">Inlet pressure [bar]</span></td>
                                <td><input style="width:300px" id="filter_inlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Inlet temperature [C]</span></td>
                                <td><input style="width:300px" id="filter_inlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="filter_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Outlet pressure [bar]</span></td>
                                <td><input style="width:300px" id="filter_outlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Outlet temperature [T]</span></td>
                                <td><input style="width:300px" id="filter_outlet_temperature" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-tagnames-measured-reservoir">
                        </table>
                        <table class="table" id="table-tagnames-measured-degasser">
                            <tr>
                                <td><span style="color: black">Pressure [Bar]</span></td>
                                <td><input style="width:300px" id="degasser_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Level [%]</span></td>
                                <td><input style="width:300px" id="degasser_level" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Inlet liquid flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="degasser_inlet_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Outlet liquid flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="degasser_outlet_liquid_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Outlet gas flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="degasser_outlet_gas_flow" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-tagnames-measured-heatpump">
                            <tr>
                                <td><span style="color: black">Primary inlet temperature [C]</span></td>
                                <td><input style="width:300px" id="tag_meas_hp_primary_inlet_t" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Primary outlet temperature [C]</span></td>
                                <td><input style="width:300px" id="tag_meas_hp_primary_outlet_t" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Primary flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="tag_meas_hp_primary_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Secondary inlet temperature [C]</span></td>
                                <td><input style="width:300px" id="tag_meas_hp_secondary_inlet_t" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Secondary outlet temperature [C]</span></td>
                                <td><input style="width:300px" id="tag_meas_hp_secondary_outlet_t" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Secondary flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="tag_meas_hp_secondary_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Electricity voltage [V]</span></td>
                                <td><input style="width:300px" id="tag_meas_hp_electricity_voltage" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Electricity current [A]</span></td>
                                <td><input style="width:300px" id="tag_meas_hp_electricity_current" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Electricity power [kW]</span></td>
                                <td><input style="width:300px" id="tag_meas_hp_electricity_power" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-tagnames-measured-heatexchanger">
                            <tr>
                                <td><span style="color: black">Primary inlet temperature [C]</span></td>
                                <td><input style="width:300px" id="hex_primary_inlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Primary outlet temperature [C]</span></td>
                                <td><input style="width:300px" id="hex_primary_outlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Primary inlet pressure [Bar]</span></td>
                                <td><input style="width:300px" id="hex_primary_inlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Primary outlet pressure [Bar]</span></td>
                                <td><input style="width:300px" id="hex_primary_outlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Primary flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="hex_primary_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Secondary inlet temperature [C]</span></td>
                                <td><input style="width:300px" id="hex_secondary_inlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Secondary outlet temperature [C]</span></td>
                                <td><input style="width:300px" id="hex_secondary_outlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Secondary inlet pressure [Bar]</span></td>
                                <td><input style="width:300px" id="hex_secondary_inlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Secondary outlet pressure [Bar]</span></td>
                                <td><input style="width:300px" id="hex_secondary_outlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Secondary flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="hex_secondary_flow" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-tagnames-measured-heatdemand">
                            <tr>
                                <td><span style="color: black">Input Temperature [C]</span></td>
                                <td><input style="width:300px" id="demand_inlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Output Temperature [C]</span></td>
                                <td><input style="width:300px" id="demand_outlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Input Pressure [Bar]</span></td>
                                <td><input style="width:300px" id="demand_inlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Output Pressure [Bar]</span></td>
                                <td><input style="width:300px" id="demand_outlet_pressure" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="demand_flow" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-tagnames-measured-chp">
                            <tr>
                                <td><span style="color: black">Gas flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="chp_inlet_gas_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Secondary flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="chp_heat_pipe_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Secondary inlet temperature [C]</span></td>
                                <td><input style="width:300px" id="chp_heat_pipe_inlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Secondary outlet temperature [C]</span></td>
                                <td><input style="width:300px" id="chp_heat_pipe_outlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Electricity power [W]</span></td>
                                <td><input style="width:300px" id="chp_electricity_output_power" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Electricity voltage [V</span></td>
                                <td><input style="width:300px" id="chp_electricity_output_voltage" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Electricity current [A]</span></td>
                                <td><input style="width:300px" id="chp_electricity_output_current" value=""></td>
                            </tr>
                        </table>
                        <table class="table" id="table-tagnames-measured-gasboiler">
                            <tr>
                                <td><span style="color: black">Gas flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="gasboiler_inlet_gas_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Heatpipe flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="gasboiler_heat_pipe_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Heatpipe inlet temperature [C]</span></td>
                                <td><input style="width:300px" id="gasboiler_heat_pipe_inlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Heatpipe outlet temperature [C]</span></td>
                                <td><input style="width:300px" id="gasboiler_heat_pipe_outlet_temperature" value="">
                                </td>
                            </tr>
                        </table>
                        <table class="table" id="table-tagnames-measured-eboiler">
                            <tr>
                                <td><span style="color: black">Electricity Power [W]</span></td>
                                <td><input style="width:300px" id="eboiler_input_power" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Electricity Voltage [V]</span></td>
                                <td><input style="width:300px" id="eboiler_input_voltage" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Electricity Current [A]</span></td>
                                <td><input style="width:300px" id="eboiler_input_current" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Heatpipe flowrate [m3/h]</span></td>
                                <td><input style="width:300px" id="eboiler_heat_pipe_flow" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Heatpipe inlet temperature [C]</span></td>
                                <td><input style="width:300px" id="eboiler_heat_pipe_inlet_temperature" value=""></td>
                            </tr>
                            <tr>
                                <td><span style="color: black">Heatpipe outlet temperature [C]</span></td>
                                <td><input style="width:300px" id="eboiler_heat_pipe_outlet_temperature" value=""></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <input type="button" value="Save" class="btn btn-info" onclick="save_parameters();" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myParametersTimestampsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel1" style="color: black">Add Timestamps</h3>
            </div>
            <div class="modal-body">
                <label_tab>Parameter Timestamps:<i class="fa fa-calendar"></i></label_tab>
                <input class='form-control' type="text" name="parameters_timestamps" id="parameters_timestamps"
                    style='width: 200px;color: black'>
            </div>
            <div class="modal-footer">
                <input type="button" value="Add" class="btn btn-info" onclick="add_parameters_timestamps();" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myTagnamesTimestampsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel1" style="color: black">Add Timestamps</h3>
            </div>
            <div class="modal-body">
                <label_tab>Tagnames Timestamps:<i class="fa fa-calendar"></i></label_tab>
                <input class='form-control' type="text" name="tagnames_timestamps" id="tagnames_timestamps"
                    style='width: 200px;color: black'>
            </div>
            <div class="modal-footer">
                <input type="button" value="Add" class="btn btn-info" onclick="add_tagnames_timestamps();" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myLogsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel1" style="color: black">Last Modifications</h3>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <table class="table table-striped table-bordered" id="data-table-logstatus">
                        <thead>
                            <tr>
                                <th style="color: black">Date Modified</th>
                                <th style="color: black">Message</th>
                                <th style="color: black">Author</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>



{% endblock %}


{% block script %}
<style>
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 500px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
    }

    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    .modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }
</style>

<script>
    $('input[name="parameters_timestamps"]').daterangepicker({
        timePicker: true,
        singleDatePicker: true,
        showDropdowns: true,
        timePicker24Hour: true,
        timePickerSeconds: true,
        startDate: moment().startOf('day').subtract(1, 'days'),
        locale: {
            format: 'YYYY-MM-DD HH:mm:ss'
        }
    });
    $('input[name="tagnames_timestamps"]').daterangepicker({
        timePicker: true,
        singleDatePicker: true,
        showDropdowns: true,
        timePicker24Hour: true,
        timePickerSeconds: true,
        startDate: moment().startOf('day').subtract(1, 'days'),
        locale: {
            format: 'YYYY-MM-DD HH:mm:ss'
        }
    });
</script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.7.4/joint.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.1/backbone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jointjs/3.7.4/joint.js"></script>


<script src="{{ url_for('static', filename='page/app_builder/js/diagram.js') }}"></script>
<script src="{{ url_for('static', filename='page/app_builder/js/component.js') }}"></script>
<script src="{{ url_for('static', filename='page/app_builder/js/api.js') }}"></script>

<script src="{{ url_for('static', filename='vendor/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/dataTables/dataTables.bootstrap.min.js') }}"></script>


<link href="{{ url_for('static', filename='vendor/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/dataTables/dataTables.responsive.css') }}" rel="stylesheet">


{% endblock %}