{% extends "base.html" %}

{% block title %}

<div class="col-lg-12">
    <h1 class="card-title">Welcome to GEMINI</h1>
</div>



{% endblock %}

{% block content %}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div align="center">
                <img src="../static/images/gemini_DDT_V1_300dpi.jpg" alt="gemini-logo1" style="height:200px" />
            </div>
            <div align="justify" style="color:rgb(189, 189, 189)">
                <br>
                GEMINI is a digital twin for geothermal systems in development by TNO since 2020. Its core consists of a
                monitoring and modelling framework with API’s (Application Programming Interface) for interfacing with a
                database streaming continuous real-time production data coming from a geothermal doublet; from wellbore,
                to ESP, to topside facilities (filters, heat exchangers, CHP units, etc.). The framework allows not only
                for the monitoring of raw production data, but also the calculation and visualization of key performance
                indicators. In addition, the modelling functionalities within the system enable the user to calibrate
                physical model based on process data, calculate process values at points where no sensors are present,
                and optimize the system’s operating conditions for specific KPIs, suggesting actions to take to improve
                the doublet’s performance.
                <br>
                <br>
                This project is sponsored by <b>Nieuwe Warmte Nu</b> program under innovation: <i>Datagedreven
                    optimalisatie
                    aardwarmtesystemen </i><a
                    href="https://nwn.nu/projecten/innovaties/datagedreven-optimalisatie-aardwarmte-systemen/">link</a>
            </div>
            
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <iframe id="iFrame_dashboard" src="" frameborder="0" allowfullscreen
                style='width:100%; height:1000px; position: relative;' scrolling="yes"></iframe>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}

<script src="{{ url_for('static', filename='page/dashboard/js/api.js') }}"></script>


{% endblock %}